<ul class="sf-menu">
    <li class="current" ><a href="{{ constant('ROOT') }}/index.php">Inicio</a></li>
    <li><a href="{{ constant('ROOT') }}/carros/">Carros</a></li>
    <!--<li><a href="{{ constant('ROOT') }}/noticias">Noticias</a></li>
    <li><a href="{{ constant('ROOT') }}/guia_automotriz/">Guía Automotriz</a></li>
    <li><a href="{{ constant('ROOT') }}/concesionarios/">Concesionarios</a></li>-->
    <li><a href="{{ constant('ROOT') }}/quienes_somos.php#col2_content">Quienes Somos</a></li>
    <li><a href="{{ constant('ROOT') }}/login.php">Registra tu anuncio</a></li>
    <li><a href="{{ constant('ROOT') }}/tarifas.php#col2_content">Tarifas</a></li>
    <li><a href="{{ constant('ROOT') }}/contacto.php#col2_content">Contacto</a></li>
</ul>