<div id="tabs-carros" class="pro_tabs-horz-top" >
    <ul class="pro_tabs-nav">
        <li><a href="#carros-1"><strong>Ultimas Publicaciones</strong></a></li>
    </ul>
    <div class="pro_tab-content" id="carros-1">
        <div class="container_12">
        {% for registro in autosTeaser.data %}
            <div class="grid_3">
                <div class="pro_wrapper pro_pad_port">
                    <a class="pro_image_style3" href="{{ url_carro(registro.marca,registro.modelo,registro.anio,registro.idCarro) }}">
                        <img src="{{ constant('ROOT')~constant('IMAGES_CARROS')~registro.imagen}}" width="100%"/>
                    </a>
                    <p>
                        <h3>
                            <a class="fancybox" href="{{ url_carro(registro.marca,registro.modelo,registro.anio,registro.idCarro) }}">{{ registro.marca|title~' '~registro.modelo|title~' '~ registro.anio}}</a>
                        </h3>
                        <span><b>{{ registro.precio|number_format(0, ',', '.') }} Bsf.</b></span>
                    </p>
                </div>
            </div>
        {% endfor %}
            </div>
            <div class="clear">&nbsp;</div>
        </div>
    </div>